[Desktop Entry]
Type=Application
Name=Counter
Name[fr]=Compteur
Name[hu]=Számláló
Name[pl]=Licznik
Name[ru]=Счётчик
Name[sv]=Räknare
Name[zh_CN]=计数器
X-Nemo-Application-Type=silica-qt5
Icon=harbour-counter
Exec=harbour-counter
